<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
# Import libraries here.
import pandas as pd
import numpy as np
import os as os
import matplotlib.pyplot as plt
import statistics as stats
import seaborn as sns 
import bokeh as bk

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [2]:
# Create an output folder.
# os.mkdir('output')
# Create a files variable that contains all of our data files.
files = os.listdir('data')

In [3]:
files = ['data/Jan 1.xlsx', 'data/Jan 2.xlsx', 'data/Jan 3.xlsx','data/Jan 4.xlsx','data/Jan 5.xlsx','data/Jan 6.xlsx','data/Jan 7.xlsx','data/Jan 8.xlsx','data/Jan 9.xlsx','data/Jan 10.xlsx', 'data/Jan 11.xlsx', 'data/Jan 12.xlsx','data/Jan 13.xlsx', 'data/Jan 14.xlsx', 'data/Jan 15.xlsx' , 'data/Jan 17.xlsx', 'data/Jan 18.xlsx', 'data/Jan 19.xlsx', 'data/Jan 20.xlsx', 'data/Jan 21.xlsx','data/Jan 22.xlsx','data/Jan 23.xlsx','data/Jan 24.xlsx','data/Jan 25.xlsx','data/Jan 26.xlsx','data/Jan 27.xlsx','data/Jan 28.xlsx','data/Jan 29.xlsx','data/Jan 30.xlsx','data/Jan 31.xlsx']

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [4]:
# Read in data from your city from January 1st.

data_Jan_df = pd.read_excel('data/Jan 1.xlsx', sheet_name="New York")

In [5]:
data_Jan_df.head()

   prodcode  price_eu  weight_kg  quantity
0      4159  2.048141   8.812961       138
1      4062  2.728485   9.331372       184
2      4404  2.182498   8.937798       491
3      4412  2.342694   7.067682       218
4      4131  1.802839   9.551503       391

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [6]:
data_Jan_df['price_us']=data_Jan_df['price_eu'] * 1.1

In [7]:
data_Jan_df['weight_lb']=data_Jan_df['weight_kg'] * 2.2

In [8]:
data_Jan_df.head()

   prodcode  price_eu  weight_kg  quantity  price_us  weight_lb
0      4159  2.048141   8.812961       138  2.252955  19.388515
1      4062  2.728485   9.331372       184  3.001334  20.529018
2      4404  2.182498   8.937798       491  2.400748  19.663156
3      4412  2.342694   7.067682       218  2.576964  15.548899
4      4131  1.802839   9.551503       391  1.983123  21.013306

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [9]:
plu = pd.read_csv('plu-codes.csv')

In [10]:
data_Jan_df=pd.merge(data_Jan_df, plu, how='left', left_on='prodcode', right_on='plu_code')

In [11]:
data_Jan_df.head()

,prodcode,price_eu,weight_kg,quantity,price_us,weight_lb,product,plu_code
0,4159,2.048141,8.812961,138,2.252955,19.388515,Onion,4159
1,4062,2.728485,9.331372,184,3.001334,20.529018,Cucumber,4062
2,4404,2.182498,8.937798,491,2.400748,19.663156,Peach,4404
3,4412,2.342694,7.067682,218,2.576964,15.548899,Pear,4412
4,4131,1.802839,9.551503,391,1.983123,21.013306,Apple (Fuji),4131

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [12]:
data_Jan_df.drop(['price_eu', 'weight_kg', 'plu_code'], axis = 1, inplace=True)

In [13]:
data_Jan_df.head()

   prodcode  quantity  price_us  weight_lb       product
0      4159       138  2.252955  19.388515         Onion
1      4062       184  3.001334  20.529018      Cucumber
2      4404       491  2.400748  19.663156         Peach
3      4412       218  2.576964  15.548899          Pear
4      4131       391  1.983123  21.013306  Apple (Fuji)

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [14]:
#establishing a Date column into the data frame; format source: https://datascience.stackexchange.com/questions/48335/how-to-add-date-column-in-python-pandas-dataframe
data_Jan_df['date'] = pd.date_range(start='01/01/2020', periods=len(data_Jan_df), freq='D')

In [15]:
data_Jan_df.head()

   prodcode  quantity  price_us  weight_lb       product       date
0      4159       138  2.252955  19.388515         Onion 2020-01-01
1      4062       184  3.001334  20.529018      Cucumber 2020-01-02
2      4404       491  2.400748  19.663156         Peach 2020-01-03
3      4412       218  2.576964  15.548899          Pear 2020-01-04
4      4131       391  1.983123  21.013306  Apple (Fuji) 2020-01-05

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [16]:
def process_data(file, city):
    df = pd.read_excel(file, sheet_name=city)
    df['price_usd'], df['weight_lb'] = df['price_eu'] * 1.1, df['weight_kg'] * 2.2
    plu= pd.read_csv('plu-codes.csv')
    df=df.merge(plu, how= 'left', left_on='prodcode', right_on='plu_code')
    df.drop(['price_eu', 'weight_kg', 'plu_code'], axis=1, inplace=True)
    df['date']=f'{file[5:-5]}'
    return df
process_data('data/Jan 1.xlsx','Boston')

     prodcode  quantity  price_usd  weight_lb       product   date
0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
1        4012       384   1.003821  12.642420        Orange  Jan 1
2        4323       431   0.814828  19.247589  Strawberries  Jan 1
3        4078       457   1.728686  15.536389          Corn  Jan 1
4        4323       316   1.528344   2.458212  Strawberries  Jan 1
..        ...       ...        ...        ...           ...    ...
172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
173      4958       144   1.946128   3.702045         Lemon  Jan 1
174      4272       455   2.057089   9.947643        Grapes  Jan 1
175      3302       482   0.936777   2.459543       Apricot  Jan 1
176      4240       116   1.016865  19.376489   Blueberries  Jan 1

[177 rows x 6 columns]

In [17]:
# process_data('data/Jan 2.xlsx', 'Boston').head(11)

Test your function out on a new file and city!

In [18]:
[process_data('data/Jan 1.xlsx', 'Boston') for file in files]

[     prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1
 174      4272       455   2.057089   9.947643        Grapes  Jan 1
 175      3302       482   0.936777   2.459543       Apricot  Jan 1
 176      4240       116   1.016865  19.376489   Blueberries  Jan 1

 [177 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4134       498   2.153334  17.287309  Apple (Gala)  Jan 1
 1        4012       384   1.003821  12.642420        Orange  Jan 1
 2        4323       431   0.814828  19.247589  Strawberries  Jan 1
 3        4078       457   1.728686  15.536389          Corn  Jan 1
 4        4323       316   1.528344   2.458212  Strawberries  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 172      4131       309   0.864199   7.000650  Apple (Fuji)  Jan 1
 173      4958       144   1.946128   3.702045         Lemon  Jan 1

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [19]:
#Jonnas' assitance, in order to iterate through all functions
[process_data(file, 'Chicago') for file in files]

[     prodcode  quantity  price_usd  weight_lb       product   date
 0        4081       334   1.921072   7.568684      Eggplant  Jan 1
 1        3302       237   1.494549  12.068491       Apricot  Jan 1
 2        4131       426   0.735211   2.926420  Apple (Fuji)  Jan 1
 3        4131       213   3.045255  18.074397  Apple (Fuji)  Jan 1
 4        4134       439   1.158079  10.223446  Apple (Gala)  Jan 1
 ..        ...       ...        ...        ...           ...    ...
 134      4404       306   2.607476  20.696594         Peach  Jan 1
 135      4012       456   1.270081  21.778590        Orange  Jan 1
 136      4062       382   1.309541   8.338494      Cucumber  Jan 1
 137      4796       269   1.098525   4.915191        Tomato  Jan 1
 138      4081       220   3.143239  15.287519      Eggplant  Jan 1

 [139 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product   date
 0        4062       195   1.709112  10.068821  Cucumber  Jan 2
 1        4159       220   2.038546   9.886367     Onion  Jan 2
 2        4309       198   1.861796  14.768469    Lychee  Jan 2
 3        4412       285   1.318929   5.536386      Pear  Jan 2
 4        4225       169   1.967825  17.424323   Avocado  Jan 2
 ..        ...       ...        ...        ...       ...    ...
 130      4412       270   1.191732  18.288617      Pear  Jan 2
 131      4078       168   2.737960  15.815368      Corn  Jan 2
 132      4062       416   2.195819  12.671514  Cucumber  Jan 2
 133      4412       174   2.417412  20.960433      Pear  Jan 2
 134      4159       293   2.048866  11.386668     Onion  Jan 2

 [135 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4272       332   2.898379   8.368921        Grapes  Jan 3
 1        4081       403   2.869693  10.053888      Eggplant  Jan 3
 2        4159       141   1.016408  16.753033         Onion  Jan 3
 3        4958       448   2.199053  15.889246         Lemon  Jan 3
 4        4062       220   1.011456  18.946080      Cucumber  Jan 3
 ..        ...       ...        ...        ...           ...    ...
 153      4062       253   2.783006   2.489979      Cucumber  Jan 3
 154      4134       126   0.670894  18.125789  Apple (Gala)  Jan 3
 155      4404       363   2.444179  17.861526         Peach  Jan 3
 156      4272       385   1.702430  20.350564        Grapes  Jan 3
 157      4323       340   3.189141  18.596193  Strawberries  Jan 3

 [158 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product   date
 0        4412       112   2.868165  19.478749         Pear  Jan 4
 1        4225       130   1.736084  16.116263      Avocado  Jan 4
 2        4240       143   2.234178  16.966205  Blueberries  Jan 4
 3        4081       290   0.719695   5.001913     Eggplant  Jan 4
 4        4012       418   1.707465   7.905572       Orange  Jan 4
 ..        ...       ...        ...        ...          ...    ...
 124      4012       269   2.012726  21.565913       Orange  Jan 4
 125      4011       378   1.641092  13.678878       Banana  Jan 4
 126      4958       358   2.344370   8.593673        Lemon  Jan 4
 127      4272       399   2.663101  10.598010       Grapes  Jan 4
 128      4011       223   2.409443  19.007889       Banana  Jan 4

 [129 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4078       290   3.256113  12.663359          Corn  Jan 5
 1        4030       373   1.170965  17.133230          Kiwi  Jan 5
 2        4404       251   2.385201  20.333928         Peach  Jan 5
 3        4240       243   2.053373   9.055541   Blueberries  Jan 5
 4        4309       213   2.522058  19.580263        Lychee  Jan 5
 ..        ...       ...        ...        ...           ...    ...
 191      4323       424   2.111591   7.258878  Strawberries  Jan 5
 192      4134       273   1.557518  21.149686  Apple (Gala)  Jan 5
 193      4062       458   0.850855   7.050631      Cucumber  Jan 5
 194      4134       433   2.276597   4.120047  Apple (Gala)  Jan 5
 195      4081       214   0.857465  16.641586      Eggplant  Jan 5

 [196 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4796       137   1.247211   4.530314        Tomato  Jan 6
 1        4011       202   1.514284  13.444899        Banana  Jan 6
 2        4078       161   2.459193  18.322143          Corn  Jan 6
 3        4650       245   2.154288   8.484642      Mushroom  Jan 6
 4        4134       193   2.992912  19.091426  Apple (Gala)  Jan 6
 ..        ...       ...        ...        ...           ...    ...
 169      4081       376   0.826122  15.252256      Eggplant  Jan 6
 170      4225       388   2.494228   3.766782       Avocado  Jan 6
 171      4272       412   1.848087  12.560541        Grapes  Jan 6
 172      4309       331   1.435314  18.793604        Lychee  Jan 6
 173      4078       342   3.268308  15.199502          Corn  Jan 6

 [174 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4309       488   0.681523  13.652252        Lychee  Jan 7
 1        4159       252   1.891096   7.954955         Onion  Jan 7
 2        4650       122   0.915727  17.995031      Mushroom  Jan 7
 3        4134       204   1.755975   4.186185  Apple (Gala)  Jan 7
 4        4958       296   1.557872  17.414047         Lemon  Jan 7
 ..        ...       ...        ...        ...           ...    ...
 188      4272       129   1.108649  20.404373        Grapes  Jan 7
 189      4062       386   1.386552   6.127550      Cucumber  Jan 7
 190      4062       322   0.993535  10.730154      Cucumber  Jan 7
 191      4030       211   1.947846   8.120793          Kiwi  Jan 7
 192      4030       292   2.213498   8.234441          Kiwi  Jan 7

 [193 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product   date
 0        4958       262   3.274361  11.627813         Lemon  Jan 8
 1        4412       279   2.653550  16.479973          Pear  Jan 8
 2        4309       104   2.779101  13.858034        Lychee  Jan 8
 3        4062       213   1.875899  17.144785      Cucumber  Jan 8
 4        4131       242   1.252673  21.662696  Apple (Fuji)  Jan 8
 ..        ...       ...        ...        ...           ...    ...
 107      4131       438   0.773837  21.833865  Apple (Fuji)  Jan 8
 108      4078       324   1.946975  15.095589          Corn  Jan 8
 109      4272       336   1.795428   8.880597        Grapes  Jan 8
 110      4309       166   1.131711  13.813735        Lychee  Jan 8
 111      4225       410   2.375344   3.215283       Avocado  Jan 8

 [112 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product   date
 0        4081       182   0.834833  11.877253     Eggplant  Jan 9
 1        4650       183   1.782763   6.898219     Mushroom  Jan 9
 2        4225       207   3.097972  17.491324      Avocado  Jan 9
 3        4011       372   3.139644   8.565290       Banana  Jan 9
 4        4225       404   0.874920  20.562853      Avocado  Jan 9
 ..        ...       ...        ...        ...          ...    ...
 104      4272       133   2.596196   6.385019       Grapes  Jan 9
 105      4240       146   1.868440  11.256256  Blueberries  Jan 9
 106      4309       206   2.026170  19.687422       Lychee  Jan 9
 107      4240       257   0.803627   3.514919  Blueberries  Jan 9
 108      4796       420   1.053404   8.423377       Tomato  Jan 9

 [109 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4134       320   1.044917  16.507777  Apple (Gala)  Jan 10
 1        4650       436   0.721413  15.539405      Mushroom  Jan 10
 2        4159       382   1.790003  13.335587         Onion  Jan 10
 3        4650       408   1.726843   7.510090      Mushroom  Jan 10
 4        4796       460   3.013877  15.589074        Tomato  Jan 10
 ..        ...       ...        ...        ...           ...     ...
 183      4225       343   2.457835  10.663956       Avocado  Jan 10
 184      4323       475   1.468993   8.621568  Strawberries  Jan 10
 185      4309       170   2.513571   9.170905        Lychee  Jan 10
 186      4412       268   2.741847  20.298948          Pear  Jan 10
 187      4134       393   2.097718  21.313324  Apple (Gala)  Jan 10

 [188 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4159       270   3.042735  21.911076         Onion  Jan 11
 1        4081       474   3.026801   9.727114      Eggplant  Jan 11
 2        4081       317   1.598559  11.962765      Eggplant  Jan 11
 3        4323       154   2.551985  12.804643  Strawberries  Jan 11
 4        4309       140   1.137029   7.649639        Lychee  Jan 11
 ..        ...       ...        ...        ...           ...     ...
 97       4309       135   2.467374   4.094168        Lychee  Jan 11
 98       4012       298   2.716540  21.112836        Orange  Jan 11
 99       4240       179   2.074966  12.291319   Blueberries  Jan 11
 100      4012       409   1.877664  15.456556        Orange  Jan 11
 101      4958       367   2.892627   7.038204         Lemon  Jan 11

 [102 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        4272       369   2.576614  14.466235    Grapes  Jan 12
 1        4012       104   1.378777   4.372557    Orange  Jan 12
 2        4012       235   1.884737  20.010315    Orange  Jan 12
 3        4011       445   2.329784  11.869453    Banana  Jan 12
 4        4272       119   2.276006  14.900268    Grapes  Jan 12
 ..        ...       ...        ...        ...       ...     ...
 188      4030       256   0.991789  12.878303      Kiwi  Jan 12
 189      4404       457   2.858931   3.990192     Peach  Jan 12
 190      4081       359   1.468090  17.142558  Eggplant  Jan 12
 191      4412       121   1.710672   9.614321      Pear  Jan 12
 192      4796       391   2.545190  14.632160    Tomato  Jan 12

 [193 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4011       138   0.872580   9.577549        Banana  Jan 13
 1        4081       241   2.552034  20.686009      Eggplant  Jan 13
 2        4272       328   1.947082  21.508590        Grapes  Jan 13
 3        4081       134   3.279300   3.686971      Eggplant  Jan 13
 4        4012       385   2.631739  13.543044        Orange  Jan 13
 ..        ...       ...        ...        ...           ...     ...
 144      4225       307   1.152394  12.464774       Avocado  Jan 13
 145      4796       127   2.685464  12.985967        Tomato  Jan 13
 146      4030       172   2.022225   7.841476          Kiwi  Jan 13
 147      4131       281   0.550326  18.049665  Apple (Fuji)  Jan 13
 148      4011       254   0.715346  20.112911        Banana  Jan 13

 [149 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        3302       320   2.483075   5.310033       Apricot  Jan 14
 1        4030       274   2.056585   9.997819          Kiwi  Jan 14
 2        4323       116   1.620135  19.425948  Strawberries  Jan 14
 3        4272       120   0.612617  13.149459        Grapes  Jan 14
 4        4309       438   1.012351  17.920568        Lychee  Jan 14
 ..        ...       ...        ...        ...           ...     ...
 140      4225       498   1.990598   7.376601       Avocado  Jan 14
 141      4650       234   1.023376  21.012624      Mushroom  Jan 14
 142      4225       491   1.194739  21.745462       Avocado  Jan 14
 143      4404       322   2.693095   7.435106         Peach  Jan 14
 144      4272       116   1.330178   6.871653        Grapes  Jan 14

 [145 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        3302       182   2.077998  11.883842   Apricot  Jan 15
 1        4309       408   2.291385   5.687459    Lychee  Jan 15
 2        4159       260   0.979803  21.313176     Onion  Jan 15
 3        4081       207   1.504004   2.384595  Eggplant  Jan 15
 4        4159       334   0.991123   7.940757     Onion  Jan 15
 ..        ...       ...        ...        ...       ...     ...
 96       4159       295   1.148704  13.488701     Onion  Jan 15
 97       4225       147   2.629533  18.723502   Avocado  Jan 15
 98       4404       393   1.933345  18.663133     Peach  Jan 15
 99       4272       477   1.433646  20.951280    Grapes  Jan 15
 100      4159       188   2.217465  19.529825     Onion  Jan 15

 [101 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        4404       166   1.946747   7.786635     Peach  Jan 17
 1        4309       333   1.736732   7.389433    Lychee  Jan 17
 2        4796       349   1.753678   2.753041    Tomato  Jan 17
 3        4272       313   2.946040  16.339107    Grapes  Jan 17
 4        4159       126   2.617311  15.990204     Onion  Jan 17
 ..        ...       ...        ...        ...       ...     ...
 137      4796       303   2.359856   4.854937    Tomato  Jan 17
 138      4062       137   2.058385   5.308573  Cucumber  Jan 17
 139      4404       251   3.171580   3.610446     Peach  Jan 17
 140      4412       136   3.254085   6.966360      Pear  Jan 17
 141      4958       305   0.952564  20.079118     Lemon  Jan 17

 [142 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4225       399   3.016709  18.254537       Avocado  Jan 18
 1        4134       400   0.576676   9.710558  Apple (Gala)  Jan 18
 2        4958       138   1.181623  13.891784         Lemon  Jan 18
 3        4030       104   1.252624  21.494186          Kiwi  Jan 18
 4        4958       184   0.753649   8.219366         Lemon  Jan 18
 ..        ...       ...        ...        ...           ...     ...
 152      3302       497   2.754252  14.828945       Apricot  Jan 18
 153      4240       432   1.038439   7.259733   Blueberries  Jan 18
 154      4404       318   0.906369  17.503418         Peach  Jan 18
 155      4958       349   1.291836  10.080437         Lemon  Jan 18
 156      4272       228   1.150569   3.365812        Grapes  Jan 18

 [157 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4012       228   1.020382   8.269711        Orange  Jan 19
 1        4323       461   1.750313  18.990920  Strawberries  Jan 19
 2        4159       224   3.011912  21.408607         Onion  Jan 19
 3        4240       406   2.468280   2.757179   Blueberries  Jan 19
 4        4131       236   1.189469  10.122801  Apple (Fuji)  Jan 19
 ..        ...       ...        ...        ...           ...     ...
 189      4062       455   0.776725  18.454931      Cucumber  Jan 19
 190      4958       218   2.131575  19.448878         Lemon  Jan 19
 191      4309       433   1.288160   7.160797        Lychee  Jan 19
 192      4062       461   2.432114   7.881923      Cucumber  Jan 19
 193      4958       392   3.199634  13.489328         Lemon  Jan 19

 [194 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4030       139   3.152077  14.928170          Kiwi  Jan 20
 1        4412       415   0.774003   8.256789          Pear  Jan 20
 2        4240       221   1.314406  13.220519   Blueberries  Jan 20
 3        4159       210   0.892120  11.440854         Onion  Jan 20
 4        4078       320   0.574099   3.164683          Corn  Jan 20
 ..        ...       ...        ...        ...           ...     ...
 185      4030       228   1.229538  17.885194          Kiwi  Jan 20
 186      4323       458   3.150373  15.197089  Strawberries  Jan 20
 187      4062       127   2.309813   3.270289      Cucumber  Jan 20
 188      4309       373   2.585170  19.796342        Lychee  Jan 20
 189      4062       429   0.926001   8.142401      Cucumber  Jan 20

 [190 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        4012       243   1.666696  10.693452    Orange  Jan 21
 1        4062       148   0.979620  17.513782  Cucumber  Jan 21
 2        4030       447   2.276169   6.837282      Kiwi  Jan 21
 3        4958       286   1.401393  13.479955     Lemon  Jan 21
 4        4272       500   1.855519   6.251375    Grapes  Jan 21
 ..        ...       ...        ...        ...       ...     ...
 98       4011       401   2.401948   4.689349    Banana  Jan 21
 99       3302       380   1.592904  15.692015   Apricot  Jan 21
 100      4309       414   1.390938  16.745054    Lychee  Jan 21
 101      4309       144   1.292365  19.597392    Lychee  Jan 21
 102      4012       431   1.301361  12.043793    Orange  Jan 21

 [103 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4078       163   0.759583  17.894534          Corn  Jan 22
 1        4134       133   3.034073   5.680311  Apple (Gala)  Jan 22
 2        4134       233   2.851763   9.496489  Apple (Gala)  Jan 22
 3        4030       287   3.132726  13.177529          Kiwi  Jan 22
 4        4159       381   0.737936  21.156391         Onion  Jan 22
 ..        ...       ...        ...        ...           ...     ...
 102      4012       153   1.185335   9.607079        Orange  Jan 22
 103      3302       117   3.064778  17.353358       Apricot  Jan 22
 104      4078       165   2.320312   7.662400          Corn  Jan 22
 105      3302       380   1.187976   8.580637       Apricot  Jan 22
 106      4309       371   2.200282  12.691827        Lychee  Jan 22

 [107 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4323       465   1.989688  16.092816  Strawberries  Jan 23
 1        4272       158   1.579142   6.501503        Grapes  Jan 23
 2        4062       151   0.553696  19.088864      Cucumber  Jan 23
 3        4412       420   2.925977  13.581892          Pear  Jan 23
 4        4030       320   2.504666  11.050375          Kiwi  Jan 23
 ..        ...       ...        ...        ...           ...     ...
 127      4412       194   1.607705   5.288865          Pear  Jan 23
 128      4131       411   1.055610   7.229933  Apple (Fuji)  Jan 23
 129      4078       151   2.265351  21.258683          Corn  Jan 23
 130      4159       480   2.102812   9.743759         Onion  Jan 23
 131      4796       351   3.165279  11.837828        Tomato  Jan 23

 [132 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product    date
 0        3302       435   1.593801   3.660643   Apricot  Jan 24
 1        4011       328   0.819118  11.533553    Banana  Jan 24
 2        4011       242   2.486977   6.567333    Banana  Jan 24
 3        4081       113   0.859018   9.319131  Eggplant  Jan 24
 4        4012       300   3.151806  21.671307    Orange  Jan 24
 ..        ...       ...        ...        ...       ...     ...
 178      4030       191   3.151393   5.447174      Kiwi  Jan 24
 179      4159       384   3.134893  12.987697     Onion  Jan 24
 180      4650       206   0.694641   9.316755  Mushroom  Jan 24
 181      4309       124   3.284284  15.214282    Lychee  Jan 24
 182      4958       114   1.720416  15.347819     Lemon  Jan 24

 [183 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product    date
 0        4412       202   3.129064   2.471010          Pear  Jan 25
 1        4131       420   3.176669  17.890113  Apple (Fuji)  Jan 25
 2        4062       263   2.551594  14.506323      Cucumber  Jan 25
 3        4011       379   0.602643  19.515335        Banana  Jan 25
 4        4131       455   2.756427   3.842991  Apple (Fuji)  Jan 25
 ..        ...       ...        ...        ...           ...     ...
 171      4225       168   2.747083   5.445446       Avocado  Jan 25
 172      4958       170   0.576163  10.029129         Lemon  Jan 25
 173      4011       193   2.503469  21.802190        Banana  Jan 25
 174      4650       146   2.633445  10.084298      Mushroom  Jan 25

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [20]:
#concatination of lists into a nascent dataframe
data_list=[process_data(file, 'Chicago') for file in files]

In [21]:
data_df= pd.concat(data_list)

In [22]:
type(data_df)

pandas.core.frame.DataFrame

In [23]:
type(data_list)

list

In [24]:
type(data_df)

pandas.core.frame.DataFrame

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [25]:
#Jonna' collaboration;
city_dict = [
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
    ]

SyntaxError: invalid syntax (<ipython-input-25-501f7ad8d223>, line 3)

In [26]:
files = ['data/Jan 1.xlsx', 'data/Jan 2.xlsx', 'data/Jan 3.xlsx','data/Jan 4.xlsx','data/Jan 5.xlsx','data/Jan 6.xlsx','data/Jan 7.xlsx','data/Jan 8.xlsx','data/Jan 9.xlsx','data/Jan 10.xlsx', 'data/Jan 11.xlsx', 'data/Jan 12.xlsx','data/Jan 13.xlsx', 'data/Jan 14.xlsx', 'data/Jan 15.xlsx' , 'data/Jan 17.xlsx', 'data/Jan 18.xlsx', 'data/Jan 19.xlsx', 'data/Jan 20.xlsx', 'data/Jan 21.xlsx','data/Jan 22.xlsx','data/Jan 23.xlsx','data/Jan 24.xlsx','data/Jan 25.xlsx','data/Jan 26.xlsx','data/Jan 27.xlsx','data/Jan 28.xlsx','data/Jan 29.xlsx','data/Jan 30.xlsx','data/Jan 31.xlsx']

In [27]:
for q, e in city_dict.items():
    # Create list comprehension to combine all files for city
    data_list = [process_data(file, q) for file in files]
    #Create dataframe from list
    data_df = pd.concat(data_list)
#     # Add city column
    data_df['city'] = q
#     # Rearrange columns
#     data_df = data_df.loc[:, [â€˜cityâ€™, â€˜dateâ€™, â€˜productâ€™, â€˜prodcodeâ€™, â€˜quantityâ€™, â€˜weight_lbâ€™, â€˜price_usdâ€™]]
#     data_df.to_csv(â€˜output/â€™+e)
print(data_df)

NameError: name 'city_dict' is not defined

In [28]:
type(data_df)
print(data_df)

     prodcode  quantity  price_usd  weight_lb       product    date
0        4081       334   1.921072   7.568684      Eggplant   Jan 1
1        3302       237   1.494549  12.068491       Apricot   Jan 1
2        4131       426   0.735211   2.926420  Apple (Fuji)   Jan 1
3        4131       213   3.045255  18.074397  Apple (Fuji)   Jan 1
4        4134       439   1.158079  10.223446  Apple (Gala)   Jan 1
..        ...       ...        ...        ...           ...     ...
164      4011       440   3.240441  14.530989        Banana  Jan 31
165      4011       199   2.946286  16.260957        Banana  Jan 31
166      4309       136   1.587484  18.446122        Lychee  Jan 31
167      4412       102   3.060141   7.197802          Pear  Jan 31
168      4134       321   1.682247  21.666202  Apple (Gala)  Jan 31

[4502 rows x 6 columns]

In [29]:
type(data_list)

list

In [30]:
# Loop through city_dict and carry out Step 6 here.
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run
#Iteration through each city

for cityname, cityfilename in city_dict.items():
        
        #Establish a list of dataframes for each city 
        city_dfs = [process_data(filename, cityname) for filename in files]
        
        #Merge each DF into one DF
        metros_df = pd.concat(city_dfs)
        
        #Include a column for each city
        metros_df['city'] = cityname
        
        #Order column nomenclature
        metros_df = metros_df.loc[:, {'city', ' date','price_usd', 'product', 'prodcode', 'quantity', 'weight_lbs'}]
        
        #Save DF to a csv file
        metros_df.to_csv('output/' + cityfilename)
        
        print(f'{cityname} ready')

NameError: name 'city_dict' is not defined

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [ ]:
master_csv_list = [â€˜atl.csvâ€™, â€˜atx.csvâ€™, â€˜bos.csvâ€™, â€˜chi.csvâ€™, â€˜den.csvâ€™, â€˜lax.csvâ€™, â€˜nyc.csvâ€™, â€˜sf.csvâ€™,
â€˜sea.csvâ€™, â€˜dc.csvâ€™]

#establish a nascent lost for all dataframes
master_df_list = []

for q in master_csv_list:
    master_list.append(pd.read_csv(â€˜output/â€™+q))
    
#combine dataframes with concatenation 
master_df = pd.concat(master_df_list)

# Allocated and categorised by state in order to find averages
master_df.groupby(â€˜cityâ€™)[[â€˜quantityâ€™, â€˜weight_lbâ€™, â€˜price_usâ€™]].mean()

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).